html, body {
  margin: 50;
}

h1 {
  opacity: 1;
  font-size: 100%;
}

h5 {
  opacity: 0.75;
}

#inputForm {
  height: 100%
}

.cy {
  border: solid;
  border-width: 1;
  height: 80%
}

.btn-div{
    padding-top:5px;
    padding-bottom:5px;

}
